button {
    background-color: #1ed760 ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }

  button:hover {
    background-color: #1DB954;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
img {
    border-radius: 10px;
    width: 300px;
}

.card {
    display: grid;
    background: #1d1d1d;
    color:white;
    text-align: justify;
    border-radius: 18px;
    margin: 20px auto;
    width: fit-content;
  }

  .card-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .card-text {
    margin:20px;
  }
  .card-text h2 {
    margin:0px;
  }
  .card-text p {
    margin: 0 0 10px 0;
  }